html {
    background-color: hwb(60 65% 29% / 0.631)
}

body {
    margin: 0;
    /* overflow: hidden; */
    padding: 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.aboutme {
    display: flex;
    justify-content: center;
}

.dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.dm-serif-text-regular-italic {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
  }
  
.sawarabi-mincho-regular {
    font-family: "Sawarabi Mincho", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 2em;
    line-height: 2em;
    font-size: 30px;
  }

.navicons {
    display: flex;
    justify-content: center;
    gap: 25px;
    padding: .5em;
}

.footer {
  display: flex;
  flex-grow: 1;
  justify-content: center;
  padding: 16px;
  background: #807c7c79;
  bottom: 1em;
  position: fixed;
  width: 20%;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 15px;
  user-select: none;
}


.skillsetcontainer {
    padding: 48px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}

.skillsetcard {
    display: flex;
    flex-direction: column;
    flex: 1 0 20%;
    padding: 16px;
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    background-color: white;
    font-family: "DM Serif Text", serif;
    margin-bottom: 32px;
}

@media (max-width: 800px) {
    .skillsetcard {
        flex: 0 0 calc(25% - 24px); 
    }
}

@media (max-width: 600px) {
    .skillsetcard {
        flex: 0 0 calc(50% - 32px); 
    }
}

@media (max-width: 400px) {
    .skillsetcard {
        flex: 0 0 calc(100% - 32px); 
    }
}


.skillsetcard h2 {
    border-bottom: 4px solid rgb(163, 30, 30);
    padding-bottom: 8px;
    margin-bottom: 16px;
}

h1 {
    font-family: "DM Serif Text", serif;
    border-bottom: 4px solid rgb(163, 30, 30);
    padding-bottom: 8px;
    margin-left: 48px;
}

ul {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Sawarabi Mincho", serif;
    margin-bottom: 16px;
}

.skillicons {
    display: flex;
    justify-content: flex-start;
    margin-left: auto;
    height: auto;
}

.skillicons i {
    flex: 0 0 auto; 
    margin-right: 5px; 
}

.skillicons img {
    flex: 0 0 auto; 
    margin-right: 5px; 
}

.notknownskill {
    opacity: .3;
}

.more-info-container {
    margin-bottom: 10px;
    margin-top: .5em;
    padding: 48px;
    padding-bottom: 0px;
    padding-top: 0px;
}

.more-info {
    font-family: "Sawarabi Mincho", serif;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin-left: 5px;
    background-color: rgb(218, 192, 145)
}


.window {
    position: fixed;   
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; 
    height: 70%; 
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    overflow: auto;
    border-radius: 8px;
    padding: 20px;
    display: none; 
    z-index: 9999; 
}

@keyframes zoomIn {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        transform: translate(-50%, -50%) scale(0.1);
    }
}

@keyframes zoomOut {
    0% {
        transform: translate(-50%, -50%) scale(0.1);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.minimize {
    animation: zoomIn 0.3s ease-in-out forwards;
}

.restore {
    animation: zoomOut 0.3s ease-in-out forwards;
}