html {
    background-color: #fefae0;
}

body {
    margin: 0;
    /* overflow: hidden; */
    padding: 10%;
    width: 80%;
    display: flex;
    flex-direction: column;
}

.aboutme {
    display: flex;
    justify-content: center;
    user-select: none;
}

#seattle {
    cursor: pointer;
    color:rgb(62, 62, 209);
}

#seattle.orange {
    cursor: pointer;
    color: rgb(229, 151, 5);
    text-shadow: -.5px 0 black, 0 .5px black, .5px 0 black, 0 -.5px black;
}


.seattle-background {
    background: url('./images/seattleblurred.jpg') no-repeat center 10% fixed; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition: background .5s ease-in-out;
}

.navicons {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    overflow-x: auto;
    gap: 25px;
    padding: .5em;
}

.footer {
    display: flex;
    justify-content: center;
    padding: 4px 16px 4px 16px;
    background: #dad7cd;
    bottom: 1em;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 15px;
    user-select: none;
    transition: box-shadow 1s; 
  }
  

.footericons {
    background-color: #adb5bd;
    border-radius: 1em;
    flex: 0 0 auto;
    transition: box-shadow 0.2s ease;
    overflow: hidden;
    z-index: 9999;   
}

.footericons:hover {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.icon-text {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    font-size: .7em;
    position: relative;
    width: 100%;
    text-align: center;
    bottom: 0;
    margin: 0;
}


.skillsetcontainer {
    padding: 48px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 32px;
}

.skillsetcard {
    display: flex;
    flex-direction: column;
    flex: 1 0 20%;
    padding: 16px;
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
    background-color: white;
    font-family: "DM Serif Text", serif;
    margin-bottom: 32px;
    border-radius: 20px;
}

.skillsetcard h2 {
    border-bottom: 4px solid rgb(163, 30, 30);
    padding-bottom: 8px;
    margin-bottom: 16px;
}

@media (max-width: 100%) {
    .skillsetcard {
        flex: 0 0 25%; 
    }
}

@media (max-width: 600px) {
    .skillsetcard {
        flex: 0 0 calc(50% - 32px); 
    }
}

@media (max-width: 400px) {
    .skillsetcard {
        flex: 0 0 calc(100% - 32px); 
    }
}


h1 {
    font-family: "DM Serif Text", serif;
    border-bottom: 4px solid rgb(163, 30, 30);
    padding-bottom: 8px;
    margin-left: 48px;
}

h3 {
    font-family: "DM Serif Text", serif;
    font-size: 36px;
    display: flex;
    justify-content: center;
}

.anime-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    max-width: calc(100% - 250px);
    margin: 0 auto;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 40px;
    background-color: #8d99ae;
    padding: 10px;
}

.anime-image {
    border-radius: 50%; 
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    border: .2em solid black;
}

.anime-item {
    position: relative;
    width: 12.5em;
    height: 12.5em;
    margin: 1.5em;
}

.anime-title {
    font-family: "DM Serif Text", serif;
    position: absolute;
    top: -3em;
    left: 50%;
    transform: translate(-50%, 0);
    color: #0a0908;
    text-align: center;
    font-size: 1em;
    padding: 0.5em;
    white-space: nowrap;
}

ul.skills {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

ul.skills > li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "Sawarabi Mincho", serif;
    margin-bottom: 16px;
}

.skillicons {
    display: flex;
    justify-content: flex-start;
    margin-left: auto;
    height: auto;
}

.skillicons i {
    flex: 0 0 auto; 
    margin-right: 5px; 
}

.skillicons img {
    flex: 0 0 auto; 
    margin-right: 5px; 
}

.notknownskill {
    opacity: .3;
}

.more-info-container {
    margin-bottom: 10px;
    margin-top: .5em;
    padding: 48px;
    padding-bottom: 0px;
    padding-top: 0px;
    font-family: "Sawarabi Mincho", serif;
    font-size: 16px;
}

.more-info {
    font-family: "Sawarabi Mincho", serif;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    margin-left: 5px;
    margin-top: 20px;
    background-color: rgb(218, 192, 145);
    border-radius: 1em;
}

.window {
    position: fixed;   
    top: 43%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%; 
    height: 70%; 
    background-color: #f0f0f0;
    border: 2px solid #ccc;
    overflow: auto;
    border-radius: 8px;
    padding: 20px;
    display: none; 
    z-index: 9999; 
}

@keyframes zoomIn {
    0% {
        transform: translate(-50%, -50%) scale(1);
    }
    100% {
        transform: translate(-50%, -50%) scale(0.1);
    }
}

@keyframes zoomOut {
    0% {
        transform: translate(-50%, -50%) scale(0.1);
    }
    100% {
        transform: translate(-50%, -50%) scale(1);
    }
}

.minimize {
    animation: zoomIn 0.3s ease-in-out forwards;
}

.restore {
    animation: zoomOut 0.3s ease-in-out forwards;
}


.job-title {
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0;
}

.job-date {
    font-style: italic;
    margin-top: 0;
    margin-bottom: 0;
}

.job-desc {
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    margin-top: 0;
}

.dm-serif-text-regular {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: normal;
  }
  
.dm-serif-text-regular-italic {
    font-family: "DM Serif Text", serif;
    font-weight: 400;
    font-style: italic;
  }

    
.sawarabi-mincho-regular {
    font-family: "Sawarabi Mincho", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    padding: 2em;
    line-height: 2em;
    font-size: 30px;
  }


